html, body {
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #fff;
}

.container {
    width: 100%;
}

.main {
    padding-top: 80px;

    width: 90%;
    margin: auto;
    text-align: left;

    /*text-align: justify;*/
    
    font-family: Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    line-height: 60px;
    font-size: 40px;

    color: #2c3e50;

    /*border: 1px solid red;*/
}

.email {
    margin-top: 5px;
    font-family: Andale Mono,AndaleMono,monospace; 
    font-size: 40px;
    letter-spacing: -0.5px;
    line-height: 60px;
    
    color: #227093;

    display: inline;

}
    .email a {
        text-decoration: none;
        color: inherit;
        font-size: inherit;
    }
    .email a:hover{
        color: #0a3d62;
    }

.spacer {
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;

    width: 100%;

    border-bottom: 1px solid #bdc3c7;
}
    .spacer-m {
        margin-bottom: 50px;
    }

/*  FORM */
#newsletter-form {
    padding-top: 30px;

    display: flex;
    flex-direction: row;

    width: 90%;
    height: 130px;

    margin: auto;
}

#newsletter-form input,
#newsletter-form button {
  border-radius: 10px;

  font-family: Arial, sans-serif;
  font-weight: 400;

  border: 3px solid #bdc3c7;

  padding: 20px;
}
    #newsletter-form input:focus,
    #newsletter-form button:focus {
        outline-color: transparent;
        outline-style: none;
    }

#newsletter-form input {
    flex-grow: 1;
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    font-family: Arial, sans-serif;
    letter-spacing: 0.6px;
    font-weight: 400;
    font-size: 40px;
    color: #2c3e50;
}

#newsletter-form button {

    width: 15%;
    
    color: #2c3e50;
    /*color: white;*/
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    background-image: url("img/arrow.png");
    background-repeat: no-repeat;
    background-position: center;

    /* Hide text */
    font-size: 0px;

}
    #newsletter-form button:hover {
        cursor: pointer;
    }

/*
#newsletter-form input::placeholder {
    font-family: Arial, sans-serif;
    font-weight: 400;

    font-size: 15px;
}
*/