body {
    background-color: #212121;
}

.container {
    width: 100%;
}

.main {
    padding-top:50px;

    width: 460px;
    margin: auto;
    text-align: left;

    text-align: justify;
    
    font-family: Andale Mono,AndaleMono,monospace; 
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 24px;
    font-size: 15px;

    color: #f5f6fa;

    /*border: 1px solid red;*/
}
    .main a {
        color: #f5f6fa;
        text-decoration: underline 3px;
    }

.email {
    display: inline-block;

    font-size: 16px;
    font-family: Andale Mono,AndaleMono,monospace; 
    letter-spacing: -0.5px;
    
    color: #f5f6fa;
}
    .email a {
        text-decoration: underline 3px;
        color: #f5f6fa;
    }
    .email a:hover{
        /*color: #0a3d62;*/
    }

.spacer {
    padding-top: 30px;
    margin: auto;
    margin-bottom: 30px;

    width: 100%;

    border-bottom: 1px solid #2F2F2F;
}

/*  FORM */
#newsletter-form {
    padding: 5px;
    
    display: flex;
    flex-direction: row;

    width: 330px;
    height: 50px;

    margin: auto;
}

#newsletter-form input,
#newsletter-form button {
  border-radius: 10px;

  font-family: Arial, sans-serif;
  font-weight: 400;

  background-color: #2F2F2F;
  border: 1px solid #2F2F2F;

  padding: 10px;
}
    #newsletter-form input:focus,
    #newsletter-form button:focus {
        outline-color: transparent;
        outline-style: none;
    }

#newsletter-form input {
    flex-grow: 1;
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    font-family: Andale Mono,AndaleMono,monospace; 
    letter-spacing: -0.5px;
    font-weight: 400;
    font-size: 14px;
    color: #f5f6fa;
}

#newsletter-form button {
    width: 45px;
    color: #f5f6fa;
    font-size: 20px;
    /*color: white;*/
    background-color: #2F2F2F !important;

    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
    #newsletter-form button:hover {
        cursor: pointer;
    }

/*
#newsletter-form input::placeholder {
    font-family: Arial, sans-serif;
    font-weight: 400;

    font-size: 15px;
}
*/