html, body {
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #212121;
}

.container {
    width: 100%;
}

.main {
    padding-top: 80px;

    width: 90%;
    margin: auto;
    text-align: left;

    /*text-align: justify;*/
    
    font-family: Andale Mono,AndaleMono,monospace; 
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 60px;
    font-size: 40px;

    color: #f5f6fa;

    /*border: 1px solid red;*/
}
    .main a {
        color: #f5f6fa;
        text-decoration: underline 3px;
    }

.email {
    margin-top: 5px;
    font-family: Andale Mono,AndaleMono,monospace; 
    font-size: 40px;
    letter-spacing: -0.5px;
    line-height: 60px;
    
    color: #f5f6fa;

    display: inline;

}
    .email a {
        text-decoration: underline 3px;
        color: inherit;
        font-size: inherit;
    }
    .email a:hover{
        /* */
    }

.spacer {
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;

    width: 100%;

    border-bottom: 1px solid #2F2F2F;
}
    .spacer-m {
        margin-bottom: 50px;
    }

/*
#newsletter-form input::placeholder {
    font-family: Arial, sans-serif;
    font-weight: 400;

    font-size: 15px;
}
*/