body {
    background-color: #fff;
    
    /*font-family: 'Helvetica', 'Arial', sans-serif;*/
}

.container {
    /*
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    */
    
    width: 100%;

    /*border: 1px solid red;*/
}

.main {
    padding-top:50px;

    width: 460px;
    margin: auto;
    text-align: left;

    text-align: justify;

    font-family: Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 24px;

    color: #2c3e50;
    /*border: 1px solid red;*/
}

.project {
    /*border: 1px solid red;*/
}
    .project-title {
        padding-bottom: 10px;

        font-size: 18px;
        font-weight: 900;
    }

    .project-content {
        font-size: 14px;
        text-align: justify;
    }

.spacer {
    padding-top: 30px;
    margin: auto;
    margin-bottom: 30px;

    width: 100%px;

    border-bottom: 1px solid #bdc3c7;
}

/*  FORM */
#newsletter-form {
    padding: 5px;
    
    display: flex;
    flex-direction: row;

    width: 330px;
    height: 50px;

    margin: auto;
}

#newsletter-form input,
#newsletter-form button {
  border-radius: 5px;

  font-family: Arial, sans-serif;
  font-weight: 400;

  border: 1px solid #bdc3c7;

  padding: 10px;
}
    #newsletter-form input:focus,
    #newsletter-form button:focus {
        outline-color: transparent;
        outline-style: none;
    }

#newsletter-form input {
    flex-grow: 1;
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    font-family: Arial, sans-serif;
    letter-spacing: 0.6px;
    font-weight: 400;
    font-size: 15px;
    color: #2c3e50;
}

#newsletter-form button {
    width: 45px;
    color: #2c3e50;
    /*color: white;*/
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
    #newsletter-form button:hover {
        cursor: pointer;
    }